---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}";

$base-font-size:   16px !default;
$small-font-size:  $base-font-size * 0.875 !default;

.bld {
  display: block;
  margin: 0 auto;
  font-size: $small-font-size;
}

.bld-box {
  &>use {
    fill: $background-color;
    stroke: $table-text-color;
    stroke-width: 4;
  }
}

.bld-line {
  &>line {
    stroke: $table-text-color;
    stroke-width: 1;
  }
}

.bld-box-text,
.bld-line-text {
  &>use {
    fill: lighten($brand-color, 46%);
  }

  &>text {
    fill: $table-text-color;
    text-anchor: middle;
    dominant-baseline: central;
  }
}
