---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}";

$base-font-size:   16px !default;
$small-font-size:  $base-font-size * 0.875 !default;

.nn {
  display: block;
  margin: 0 auto;
  font-size: $small-font-size;
}

.nn-node {
  &>use {
    fill: $background-color;
    stroke: $table-text-color;
    stroke-width: 4;
  }
}

.nn-link {
  &>line {
    stroke: lighten($brand-color, 23%);
    stroke-width: 1;
  }
}

.nn-node-text,
.nn-link-text {
  &>use {
    fill: lighten($brand-color, 46%);
  }

  &>text {
    fill: $table-text-color;
    text-anchor: middle;
    dominant-baseline: central;
  }
}

#nn-node-current-layer {
  .nn-node-2-1,
  .nn-node-2-2 {
    &>use {
      stroke: lighten($brand-color, 23%);
    }
  }

  .nn-link-1-0-2-0,
  .nn-link-1-1-2-0,
  .nn-link-1-2-2-0 {
    &>line {
      stroke: $table-text-color;
    }
  }

  .nn-node-text-2-1,
  .nn-node-text-2-2 {
    &>text {
      fill: lighten($brand-color, 23%);
    }
  }
}

#nn-node-previous-layer {
  .nn-node-1-0,
  .nn-node-1-1 {
    &>use {
      stroke: lighten($brand-color, 23%);
    }
  }

  .nn-link-1-2-2-0,
  .nn-link-1-2-2-1,
  .nn-link-1-2-2-2 {
    &>line {
      stroke: $table-text-color;
    }
  }

  .nn-node-text-1-0,
  .nn-node-text-1-1 {
    &>text {
      fill: lighten($brand-color, 23%);
    }
  }
}
